---
layout: default
---
<article class="container mt-0 lg:mt-5">
  <div class='card'>
    <h1 class="mb-5 font-sans font-bold text-primary"><%= resource.data.title %></h1>
    <div class="">
      <%= yield %>
    </div>
  </div>
</article>
