---
layout: default
---
<article class="container mt-5">
  <div class='card'>
    <h1 class="font-sans font-bold text-3xl text-primary"><%= resource.data.title %></h1>
    <div class="">
      <%= yield %>
    </div>
  </div>
</article>
