<header class="flex flex-row items-center py-2 px-8 h-20 w-100 gap-x-8">
  <div class="flex flex-row items-center">
    <a href="/">
      <img
        src="<%= relative_url '/images/logo.svg'  %>"
        alt="Logo"
        class="object-cover h-full w-full max-h-10"
      />
    </a>
  </div>
  <nav>
    <ul>
      <%= render Shared::NavLinkComponent.new(href: '/', text: 'Home', resource: @resource) %>
      <%= render Shared::NavLinkComponent.new(href: '/about', text: 'About', resource: @resource) %>
      <%= render Shared::NavLinkComponent.new(href: '/posts', text: 'Posts', resource: @resource) %>
    </ul>
      </nav>
    </header>
